<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
        	<property name="hibernate.connection.username">pharms2011</property>
        	<property name="hibernate.connection.password">Footba1!6378</property>
        	<property name="hibernate.connection.url"> jdbc:oracle:thin:@personalwebsite.cppjkpgpfa6x.us-east-1.rds.amazonaws.com:1521:ORCL</property>
        	<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<!-- this can be noisy in the console -->
		<property name="hibernate.show_sql">true</property>
		<!-- choose whether to create db or update existing db -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- map domain object classes -->
		<mapping class="com.inertia.beans.resume.Skills"/>
		<mapping class="com.inertia.beans.projects.Projects"/>
		<mapping class="com.inertia.beans.resume.WorkHistory"/>
		<mapping class="com.inertia.beans.resume.Education"/>
		<mapping class="com.inertia.beans.perBlog.PerBlogEntry"/>
		<mapping class="com.inertia.beans.perBlog.PerBlogPic"/>
		<mapping class="com.inertia.beans.devBlog.DevBlogEntry"/>
		<mapping class="com.inertia.beans.devBlog.DevBlogLink"/>
	</session-factory>
</hibernate-configuration>