<div class="spaceBlue">
  <ngb-tabset #t="ngbTabset" class="spaceBlue">

    <ngb-tab id="tab-selectbyid1" title="Personal Blog">
      <ng-template ngbTabContent class="spaceBlue">
        <div class="container spaceBlue">
          <app-personal-blog></app-personal-blog>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="tab-selectbyid2" title="Developer Blog">
      <ng-template ngbTabContent class="spaceBlue">
        <div class="container spaceBlue">

        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="tab-selectbyid3" title="Resume">
      <ng-template ngbTabContent class="spaceBlue">
        <div class="container spaceBlue">

        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>