<div class="iconBar">
  <a href="https://github.com/pharms2011?tab=repositories"><img rel="icon" type="image/x-icon" src="../../../../assets/github.png"
      href="" class="icon"></a>
  <a href="https://www.linkedin.com/in/preston-harms-399017139/"> <img rel="icon" type="image/x-icon" src="../../../../assets/linkedin.png"
      href="" class="icon"></a>
  <a href="https://www.facebook.com/preston.harms"><img rel="icon" type="image/x-icon" src="../../../../assets/twitter.png"
      href="" class="icon"></a>
  <a href="https://www.facebook.com/preston.harms"><img rel="icon" type="image/x-icon" src="../../../../assets/facebook.png"
      class="icon"></a>
  <a href="https://www.facebook.com/preston.harms"><img rel="icon" type="image/x-icon" src="../../../../assets/instagram.png"
      href="" class="icon"></a>
</div>