*{
    top:0;
    border: 0%;
    margin: 0%;
    padding: 0%;
}
mat-chip {
    max-width: 20em;
    max-height: 1em;
    font-size: .5em;
    color: #7AE7C7;

}
mat-chip-list{
    width: 100%;
}
h2{
    font-size: .5em;
}
lable{
    font-size: .5em;
}
.skillTitle{
    font-size: 1.5em;
}
.componenetHeader{
    font-size:  3em;
}