html,body {
    margin:0;
    padding:0;
  }

  mat-grid-tile{
    align-content: center;
    align-items: center;
  }

  mat-card-title{
    width: 10em;
    font-size: 2em;
  }
  mat-card-subtitle{
    width: 10em;
    font-size: 1.5em;
  }

  mat-card-content{
    width:100%;
    height: auto;
  }

  .container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2rem auto;
    box-shadow: 0 0.25rem 2rem 0 rgba(0, 0, 0, 0.3);
  }
  
  h1{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    align-self: center;
  }

  h2{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    align-content: center;
  }

  a{
    color: #67AFCB;
  }

  tr{
    color: #E4F1F6;
  }

  header{
    top: 0; 
    height: auto;
    text-transform: uppercase;
    text-align: center;
    width: 80%;
    float: right;
    margin: 0%;
    padding: 0%;
    align-self: center;
  }

  .profilePic{
      width: 30em;
      height: 100%;
      margin: 2em;
      display: block;
      border-radius: 50%;
      align-self: right;
      margin-left: auto;
      margin-right: auto;   
  }

  .example-header-image {
    background-image: url('../../../assets/ProfilePic.jpg');
    background-size: cover;

  }

  .example-card {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .bio{
    margin: 5em;
    font-size: .75em;
  }

  h2{
    font-size: 1em;
    color: #233237;
  }

  .frame{
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap; 
    flex-flow: row wrap; 
    display: -webkit-box;
    align-content: center;
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .leftMenu{
    width: 20%;
    height: 60em;
    border: 0%;
    margin: 0%;
    padding: 0%;
    left: 0;
    -ms-flex-align: start;
    align-self: flex-start;
    background-color: black;
    color: White;
  }

  .history{
    width: 70%;
  }

  .education{
    width: 30%;
  }

  .skills{
    width: 100%;
    -ms-flex-align: end;
    align-self: flex-end;
    right: 0;
  }

  .mainContent{
    width: 80%;
    height: 60em;
    border: 0%;
    padding: 0%;
    margin: 0%;
  }