<h1 class="subTitle">About Me</h1>
<br>
<p class="bio">My name is Preston Harms and I am a full stack software developer.
  Currently I work as a developer with Infosys with on a project for their client Boeing while working
  towards my Masters Degree in Computer Science from Georgia tech to get a concentration in Machine Learning.
  My ultimate goal is to lead a team developers to create an inovative application that makes use of cutting
  edge
  technologies to help people. I created this website to display not only my credentials as a developer, but
  to
  show
  who I am as a person. I've included not only a resume page and a developers blog, where I can showcase the
  topics
  I have
  suitably researched, but a personal blog where I can showcase the things in my life that I feel are worth
  sharing.
  If you have any questions please feel free </p>
<br><br><br><br>
<h2>Contact Me</h2>
<br>

<p> <i class="far fa-envelope"></i> prestonharms5@gmail.com</p><br><br>

<p> <i class="fas fa-mobile-alt"></i>  970-518-2916</p><br><br>

<p> <i class="fas fa-globe"></i> Kent Washington</p><br><br>