<h1><i class="fas fa-laptop-code"></i> Skills</h1>
<div class="skillsTabs">
<ngb-tabset type="pills">
  <ngb-tab title="Programming Languages">
    <ng-template ngbTabContent>
      <br>
      <div class="skillsContainer">
        <div *ngFor='let skill of skills' class='skillsButtons'>
          <button *ngIf='skill.skillType == "Programming Language"' class="programmingLanguageButton">
            {{skill.description}}
          </button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Frameworks" class="skillsContainer">
    <ng-template ngbTabContent>
      <br>
      <div class="skillsContainer">
        <div *ngFor='let skill of skills' class='skillsButtons'>
          <button *ngIf='skill.skillType == "Framework"' class="frameworksButton">
            {{skill.description}}
          </button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Front End" class="skillsContainer">
    <ng-template ngbTabContent>
      <br>
      <div class="skillsContainer">
        <div *ngFor='let skill of skills' class='skillsButtons'>
          <button *ngIf='skill.skillType == "Front End"' class="frontEndButton">
            {{skill.description}}
          </button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Back End" class="skillsContainer">
    <ng-template ngbTabContent>
      <br>
      <div class="skillsContainer">
        <div *ngFor='let skill of skills' class='skillsButtons'>
          <button *ngIf='skill.skillType == "Back End"' class="backEndButton">
            {{skill.description}}
          </button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Dev Ops" class="skillsContainer">
    <ng-template ngbTabContent>
      <br>
      <div class="skillsContainer">
        <div *ngFor='let skill of skills' class='skillsButtons'>
          <button *ngIf='skill.skillType == "Dev Ops"' class="devOpsButton">
            {{skill.description}}
          </button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
</div>