<div class = "container">
  <div class="row black">
 
    <header>
          <h1 class = "medium title">Preston Harms</h1>
          <h2 class = "medium subtitle">Software Developer</h2>
          <img width="300" class="profilePic col-3" alt="Profile Pic" src="https://lh3.googleusercontent.com/CP1aHb5B0kZa_B5NdYS_h7Azmji_NzUe6S_PFdnabVbdz6fDhxZLf5YgUSz7azsLcYflYGurPXLAs9tnRTxJF6WaaTigTE86FLCp47ZpBM3Orx90KzA_kHiAWh75oVJjE7RlatT-D2Krd6WwhPOd9rsvK0UjRhqGI0OiWofJRhKx4xKJZ_NIW78B1i3goHtB4NcSqGCbjw-EeJDds64f-fjwCf9ecc-50J_E3spE1d4KmWCKQxLRCE3Mys6YtvBc1fReCRlTZVVgsN8jY3mEz0mWKoocxDEVtSU8NtMDN19LRdZyyv6Mf0zL5vFTjiO_EXNXiRG92AVKloqspjx8qLvu5pGobdqYHZQ7qhRVHqBPpAqDyoBGcQqe0PKLmfCED7PWSovBVrnrWXpgfh-FYPwOMxMY6Osp3jdJJEj0rYiIdpPm5lb4FQtroIISXhiF2OIJegqTl_Tf7a3l49Vqwe2cie5fmFGbsU2xu-s5CKOQfP_N_q_h_AIAJXPUZG_BMyeiHQsrIMTYfuuXLBzlxwXdWJHnWJprT_ElT-JGq3CRWxuNMLbL1Yci9Rkbr9affTed21kfGOjjTb3bVljAyRd1J0b4fnQRmaY2glA=w624-h832-no">    
        </header>
    
    <mat-card class="resume-card blueSteel">

      <div class="col-3">
        <mat-card-header>
          <mat-card-title class = "title">Skills</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-skill-component></app-skill-component>
        </mat-card-content>
      </div>
  
      <div class="col-3">
        <mat-card-header>
          <mat-card-title class = "title">Education</mat-card-title>
        </mat-card-header>
       <mat-card-content>
          <app-education-component></app-education-component>
        </mat-card-content>
      </div>

      <div class="col-3">
        <mat-card-header>
          <mat-card-title class = "title">Work History</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-work-history-component></app-work-history-component>
        </mat-card-content>
      </div>

    </mat-card> 
  </div>
</div>
