<app-social-media-bar></app-social-media-bar>

<div class="spaceBlue">
  <ngb-tabset #t="ngbTabset" class="spaceBlue">

    <ngb-tab id="tab-selectbyid1" title="Resume">
      <ng-template ngbTabContent class="spaceBlue">
        <div class="spaceBlue">
          <app-resume-page></app-resume-page>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="tab-selectbyid2" title="Personal Blog">
      <ng-template ngbTabContent class="spaceBlue">
        <div class="spaceBlue">
          <!--app-personal-blog-page></app-personal-blog-page-->
          coming soon!
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="tab-selectbyid3" title="Developer Blog">
      <ng-template ngbTabContent class="spaceBlue">
        <div class="spaceBlue">
          <!--app-dev-blog-page></app-dev-blog-page-->
          coming soon!
        </div>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>