/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
*{
    font-family: "Arial Black", Gadget, sans-serif;
  }
html,body {
    background: #000000;
    margin:0;
    padding:0;
}
a{
    color:white;
}
footer{
    position:fixed;
    bottom:0;
    width: 120%; 
    margin: 0%;
    padding: 0%;
}
header{
    top: 0; 
    height: auto;
    color: white;
    font-size: 1.5vw;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    float: right;
    margin: 0 0 1em 0;
    padding: 0;
    background-image: url(https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  }
.blueSteel{
    background:#0c2b5b;
    color: white;
}
.steel{
    background: #202020;
    color: white;
}
.black{
    background:#000000;
    color: white;
}
.turquoise{
    background: #5F9EA0;
    color: white;
}
.subtitle{
    text-transform: uppercase;
}
.title{
    color: white;
    font-size: 2em;
  }