/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
*{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 1em;
}
html,body {
    margin:0;
    padding:0;
}
a{
    color:white;
}
nav{
    width: 100%;
    font-size: 2em;
}
footer{
    position:fixed;
    bottom:0;
    width: 100%; 
    margin: 0%;
    padding: 0%;
}
.dark{
    background:#0C1231;
    color: #2645E3;
}
.medium{
    background: #2645E3;
    color: #DFE4FB;
}
.light{
    background:#8193EF;
    color: #0C1231;
}
.white{
    background:#DFE4FB;
    color:#132890;
}
.subtitle{
    font-size: 1.25em;
    margin: 0%;
    padding: 0%;
    border: 0%;
}
.title{
    font-size: 2em;
    align-self: center;
    align-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
    border: 0%;
  }