<div class="timeline light">
    <div *ngFor = "let history of workHistorys">
        <div class="container left">
          <div class="content">
            <h2 class = "subtitle">{{history.startMonth}}, {{history.startYear}}</h2>
            <p>{{history.title}}</p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h2 class = "subtitle">{{history.endMonth}}, {{history.endYear}}</h2>
            <p>{{history.description}}</p>
          </div>
        </div>
    </div>    
</div>
