<div class="frame">
  <h1 class="componenetHeader">Education</h1>
  <div class="timeline">
    <div *ngFor="let edu of educations; let i = index">
      <div *ngIf="switch(i)" class="container left">
        <div class="content">
          <h1>{{edu.school}}</h1>
          <h2 *ngIf="edu.endMonth">{{edu.startMonth}},{{edu.startYear}} - {{edu.endMonth}},{{edu.endYear}}</h2>
          <h2 *ngIf="!edu.endMonth">{{edu.startMonth}},{{edu.startYear}} - Current</h2>
        </div>
      </div>
      <div *ngIf="!switch(i)" class="container right">
        <div class="content">
          <h1>{{edu.school}}</h1>
          <h2 *ngIf="edu.endMonth">{{edu.startMonth}},{{edu.startYear}} - {{edu.endMonth}},{{edu.endYear}}</h2>
          <h2 *ngIf="!edu.endMonth">{{edu.startMonth}},{{edu.startYear}} - Current</h2>
        </div>
      </div>
    </div>
  </div>
</div>